body {
    background-color: white;
    color: black;
    font-family: sans-serif;
    padding: 1px;
    line-height: 1.4;
}

sup, sub {
    line-height: 0;
}

body > div {
    margin:auto;
    max-width:45em;
}

div.user_header {
    text-align:right;
    margin-bottom:1em;
}

h1,h2,h3,h4 {
    color:darkblue;
}

a.footnote, a.footnoteref {
    text-decoration:none;
}

table {margin:auto; padding 0 2em; border-collapse: collapse;}
td {padding: 1em;}
dt {font-weight:bold;}
span.underline{text-decoration:underline;}
.multicite{color:#303030; font-size:0.8em;}
/* sup {vertical-align:top; font-size:0.75em;position:relative; top:-0.25em;} */

@media (max-width: 30em) {
    h1 {
        font-size: 130%;
    }
    h2, h3 {
        font-size: 115%;
    }
     ol, ul {
        padding-left:1.5em;
    }
   /*footer navigation table doesn't work well on very narrow screens*/
    .navfooter tbody tr:last-child {
        display: none;
    }
}